.mobile-main {
  &-navbar {
    width: 100%;
    padding: $padding4;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  &-product-price {
    height: auto;
    font-size: $font1;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  &-navbar {
    width: 100%;
    padding: $padding4;
    align-items: center;
    justify-content: space-between;
    background-color: white;
  }
  &-product-price {
    height: auto;
    font-size: $font1;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
}
.mobile-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}
.mobile-logo {
  &-img {
    width: 50%;
    display: flex;
  }
  &-img {
    width: 20%;
    display: flex;
  }
}
.mobile-first_input {
  width: 85%;
  height: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $color9;
  padding-left: $padding1;
  font-size: $font2;
  width: 85%;
  height: 60px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: $color9;
  padding-left: $padding1;
  font-size: $font2;
}
.mobile-navbar {
  &-btn {
    width: 15%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $color10;
    border: none;
    color: white;
  }
  &-arrow {
    display: none;
  }
  &-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }
  &-btn {
    width: 15%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $color10;
    border: none;
    color: white;
  }
  &-arrow {
    display: none;
  }
  &-icons {
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
}
.mobile-lupa {
  color: white;
  width: 40px;
  cursor: pointer;
  color: white;
  width: 40px;
  cursor: pointer;
}
.mobile-second_input {
  display: none;
  display: none;
}
.mobile-user {
  display: none;
  display: none;
}
.mobile-second {
  &-navbar {
    display: none;
  }
  &-color-box {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
  }
  &-navbar {
    display: none;
  }
  &-color-box {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
  }
}
.mobile-availability {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: $padding4;
  &-item {
    font-size: 26px;
    cursor: pointer;
    align-items: center;
  }
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding-bottom: $padding4;
  &-item {
    font-size: 26px;
    cursor: pointer;
    align-items: center;
  }
}
.mobile-banner {
  &-img {
    display: none;
  }
  &-img {
    display: none;
  }
}
.mobile-categories_bar {
  display: flex;
  justify-content: center;
  background-color: $color3;
  margin-top: 10px;
  height: 50px;
  align-items: center;
  font-size: $font1;
  color: rgb(84, 187, 147);
  display: flex;
  justify-content: center;
  background-color: $color3;
  margin-top: 10px;
  height: 50px;
  align-items: center;
  font-size: $font1;
  color: rgb(84, 187, 147);
}
.mobile-categories {
  display: flex;
  background-color: $color3;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  margin-top: 20px;
  gap: 10px;
  display: flex;
  background-color: $color3;
  justify-content: space-around;
  align-items: center;
  height: 220px;
  margin-top: 20px;
  gap: 10px;
}
.mobile-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(/img/baner.webp);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(/img/baner.webp);
  width: 100%;
}
.mobile-offer {
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $color3;
  height: auto;
  padding-left: $padding1;
  display: flex;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $color3;
  height: auto;
  padding-left: $padding1;
}
.mobile-product {
  &-img {
    width: 100%;
  }
  &-description {
    padding-top: $padding1;
    font-size: $font2;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  &-short-description {
    display: flex;
  }
  &-description-icons {
    display: flex;
    gap: 20px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    background-color: $color5;
    padding-top: $padding4;
    margin-top: 20px;
    gap: 30px;
  }
  &-info1 {
    display: flex;
  }
  &-info2 {
    display: flex;
  }
  &-info3 {
    display: flex;
  }
  &-info4 {
    display: flex;
  }
  &-img {
    width: 100%;
  }
  &-description {
    padding-top: $padding1;
    font-size: $font2;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  &-short-description {
    display: flex;
  }
  &-description-icons {
    display: flex;
    gap: 20px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    background-color: $color5;
    padding-top: $padding4;
    margin-top: 20px;
    gap: 30px;
  }
  &-info1 {
    display: flex;
  }
  &-info2 {
    display: flex;
  }
  &-info3 {
    display: flex;
  }
  &-info4 {
    display: flex;
  }
}
.mobile-smart {
  &-logo {
    height: auto;
    padding-top: 5px;
  }
  &-logo {
    height: auto;
    padding-top: 5px;
  }
}
.mobile-instalment {
  &-price_1 {
    display: none;
  }
  &-box {
    display: none;
  }
  &-container {
    display: flex;
    padding-top: $padding2;
    padding-left: $padding2;
    gap: 10px;
    border-bottom: 1px solid $color1;
    padding-bottom: $padding1;
  }
  &-container-p1 {
    font-weight: bolder;
  }
  &-container-p2 {
    color: $color6;
  }
  &-price_1 {
    display: none;
  }
  &-box {
    display: none;
  }
  &-container {
    display: flex;
    padding-top: $padding2;
    padding-left: $padding2;
    gap: 10px;
    border-bottom: 1px solid $color1;
    padding-bottom: $padding1;
  }
  &-container-p1 {
    font-weight: bolder;
  }
  &-container-p2 {
    color: $color6;
  }
}
.mobile-buy {
  &-to {
    font-size: $font2;
    color: $color6;
    padding-bottom: $padding2;
    width: 100%;
    padding-top: $padding2;
  }
  &-container {
    padding-top: $padding4;
    background-color: $color5;
    height: 850px;
    margin-top: 20px;
  }
  &-container-p-color {
    color: $color1;
  }
  &-container-p-second-color {
    color: $color7;
  }
  &-container-price {
    display: flex;
    gap: 20px;
    font-size: 40px;
    font-weight: bolder;
    padding-left: $padding2;
    padding-top: $padding4;
  }
  &-container-buy_to {
    display: flex;
    padding-left: $padding2;
    font-weight: bolder;
    padding-top: $padding1;
    border-bottom: 1px solid $color1;
    padding-bottom: $padding1;
  }
  &-container-buy_to_p1 {
    color: rgb(124, 120, 120);
  }
  &-container-buy_to_p2 {
    color: limegreen;
  }
  &-button {
    width: 95%;
    height: 80px;
    font-size: 25px;
    color: white;
    background-color: rgb(229, 107, 8);
    border: none;
    cursor: pointer;
  }
  &-to {
    font-size: $font2;
    color: $color6;
    padding-bottom: $padding2;
    width: 100%;
    padding-top: $padding2;
  }
  &-container {
    padding-top: $padding4;
    background-color: $color5;
    height: 850px;
    margin-top: 20px;
  }
  &-container-p-color {
    color: $color1;
  }
  &-container-p-second-color {
    color: $color7;
  }
  &-container-price {
    display: flex;
    gap: 20px;
    font-size: 40px;
    font-weight: bolder;
    padding-left: $padding2;
    padding-top: $padding4;
  }
  &-container-buy_to {
    display: flex;
    padding-left: $padding2;
    font-weight: bolder;
    padding-top: $padding1;
    border-bottom: 1px solid $color1;
    padding-bottom: $padding1;
  }
  &-container-buy_to_p1 {
    color: rgb(124, 120, 120);
  }
  &-container-buy_to_p2 {
    color: limegreen;
  }
  &-button {
    width: 95%;
    height: 80px;
    font-size: 25px;
    color: white;
    background-color: rgb(229, 107, 8);
    border: none;
    cursor: pointer;
  }
}
.mobile-delivery {
  font-size: $font2;
  font-weight: bold;
  color: gray;
  width: 100%;
  padding-bottom: $padding1;
  font-size: $font2;
  font-weight: bold;
  color: gray;
  width: 100%;
  padding-bottom: $padding1;
}
.mobile-footer {
  display: flex;
  flex-direction: column;
  padding: $padding4;
  &-logo {
    width: 100%;
    height: 120px;
    background-color: rgb(39, 80, 83);
    display: flex;
    justify-content: center;
  }
  display: flex;
  flex-direction: column;
  padding: $padding4;
  &-logo {
    width: 100%;
    height: 120px;
    background-color: rgb(39, 80, 83);
    display: flex;
    justify-content: center;
  }
}
.mobile-allegro {
  &-group-links {
    display: flex;
    flex-direction: column;
    font-size: $font5;
    padding: $padding4;
  }
  &-group-links {
    display: flex;
    flex-direction: column;
    font-size: $font5;
    padding: $padding4;
  }
}
.mobile-condition {
  display: flex;
  gap: 10px;
  padding-top: $padding2;
  display: flex;
  gap: 10px;
  padding-top: $padding2;
}
.mobile-rating {
  align-items: baseline;
  &-stars {
    color: rgb(253, 199, 83);
  }
  display: flex;
  gap: 10px;
  padding-top: $padding1;
  padding-bottom: $padding1;
  align-items: baseline;
  &-stars {
    color: rgb(253, 199, 83);
  }
  display: flex;
  gap: 10px;
  padding-top: $padding1;
  padding-bottom: $padding1;
}
.mobile-ratings {
  color: $color7;
  color: $color7;
}
.mobile-buyers {
  display: flex;
  gap: 10px;
  padding-top: $padding1;
  padding-bottom: $padding1;
  color: $color8;
  display: flex;
  gap: 10px;
  padding-top: $padding1;
  padding-bottom: $padding1;
  color: $color8;
}
.mobile-parameters {
  display: flex;
  flex-direction: column;
  background-color: $color3;
  padding: 7px 7px 7px 7px;
  height: 510px;
  &-container {
    display: flex;
    flex-direction: column;
    /* padding-top: 200px;
    */;
  }
  &-condition {
    background-color: $color4;
    display: flex;
  }
  &-key {
    background-color: $color4;
  }
  &-model {
    background-color: $color4;
  }
  &-color {
    background-color: $color4;
  }
  &-first-span-color {
    color: $color8;
  }
  display: flex;
  flex-direction: column;
  background-color: $color3;
  padding: 7px 7px 7px 7px;
  height: 510px;
  &-container {
    display: flex;
    flex-direction: column;
    /* padding-top: 200px;
    */;
  }
  &-condition {
    background-color: $color4;
    display: flex;
  }
  &-key {
    background-color: $color4;
  }
  &-model {
    background-color: $color4;
  }
  &-color {
    background-color: $color4;
  }
  &-first-span-color {
    color: $color8;
  }
}
.mobile-long {
  &-description {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  &-description1 {
    font-size: $font1;
    font-weight: 900;
    padding-bottom: $padding4;
    padding-left: $padding4;
    padding-top: $padding4;
  }
  &-description {
    display: flex;
    flex-direction: column;
    background-color: #fff;
  }
  &-description1 {
    font-size: $font1;
    font-weight: 900;
    padding-bottom: $padding4;
    padding-left: $padding4;
    padding-top: $padding4;
  }
}
.mobile-superseller {
  display: flex;
  align-items: center;
  padding-top: $padding1;
  margin-top: 20px;
  gap: 30px;
  padding-left: $padding2;
  padding-bottom: $padding4;
  border-bottom: 1px solid $color1;
  display: flex;
  align-items: center;
  padding-top: $padding1;
  margin-top: 20px;
  gap: 30px;
  padding-left: $padding2;
  padding-bottom: $padding4;
  border-bottom: 1px solid $color1;
}
.mobile-colors {
  &-box {
    height: 60px;
    display: flex;
    gap: 15px;
    padding-left: $padding2;
    padding-top: $padding1;
  }
  padding-top: $padding4;
  padding-left: $padding2;
  &-box {
    height: 60px;
    display: flex;
    gap: 15px;
    padding-left: $padding2;
    padding-top: $padding1;
  }
  padding-top: $padding4;
  padding-left: $padding2;
}
.mobile-first {
  &-color-box {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px $color2;
    color: $color2;
  }
  &-color-box {
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px $color2;
    color: $color2;
  }
}
.mobile-memory {
  &-box {
    width: 65px;
    height: 30px;
    border: solid 3px $color2;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  padding-top: $padding1;
  padding-left: $padding2;
  padding-bottom: $padding1;
  &-box {
    width: 65px;
    height: 30px;
    border: solid 3px $color2;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  padding-top: $padding1;
  padding-left: $padding2;
  padding-bottom: $padding1;
}
.mobile-ram {
  &-box {
    background-color: $color5;
    width: 65px;
    height: 30px;
    border: solid 3px $color2;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  border-bottom: 1px solid $color1;
  padding-bottom: $padding2;
  &-box {
    background-color: $color5;
    width: 65px;
    height: 30px;
    border: solid 3px $color2;
    color: $color2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
  }
  border-bottom: 1px solid $color1;
  padding-bottom: $padding2;
}
.mobile-ram_p {
  padding-top: $padding1;
  padding-left: $padding2;
  padding-bottom: $padding1;
  padding-top: $padding1;
  padding-left: $padding2;
  padding-bottom: $padding1;
}
.mobile-guantity {
  &-boxes {
    display: flex;
    padding-top: $padding2;
    padding-left: $padding2;
    align-items: baseline;
    flex-wrap: nowrap;
    color: rgb(181, 181, 181);
  }
  &-box1 {
    width: 50px;
    height: 50px;
    border: 1px solid $color1;
  }
  &-box2 {
    width: 100px;
    height: 50px;
    border: 1px solid $color1;
  }
  &-box3 {
    width: 50px;
    height: 50px;
    background-color: $color5;
    border: 1px solid $color1;
  }
  &-boxes {
    display: flex;
    padding-top: $padding2;
    padding-left: $padding2;
    align-items: baseline;
    flex-wrap: nowrap;
    color: rgb(181, 181, 181);
  }
  &-box1 {
    width: 50px;
    height: 50px;
    border: 1px solid $color1;
  }
  &-box2 {
    width: 100px;
    height: 50px;
    border: 1px solid $color1;
  }
  &-box3 {
    width: 50px;
    height: 50px;
    background-color: $color5;
    border: 1px solid $color1;
  }
}
.mobile-buttons {
  padding-top: $padding4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding-top: $padding4;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.mobile-add {
  &-to-basket-button {
    width: 95%;
    height: 80px;
    font-size: 25px;
    color: white;
    background-color: $color2;
    border: none;
    cursor: pointer;
  }
  &-to-basket-button {
    width: 95%;
    height: 80px;
    font-size: 25px;
    color: white;
    background-color: $color2;
    border: none;
    cursor: pointer;
  }
}