// SCSS Variables
$primary-orange: rgb(229, 111, 8);
$secondary-orange: rgb(254, 130, 41);
$light-gray: rgb(234, 237, 240);
$pure-white: rgb(255, 255, 255);
$pure-black: rgb(0, 0, 0);
$yellow-highlight: rgb(255, 251, 0);
$accent-green: rgb(33, 202, 160);
$highlight-orange: rgb(229, 107, 8);
$gray: rgb(196, 193, 193);
$text-gray: rgb(124, 120, 120);
$font-main: 'Roboto';
