$color1 : rgb(196, 193, 193);
$color2 : rgb(229, 111, 8);
$color3 : rgb(255, 255, 255);
$color4 : rgb(245, 244, 244);
$color5 : #ffffff;
$color6 : rgb(168, 166, 166);
$color7 : rgb(33, 202, 160);
$color8 : rgb(184, 184, 184);
$color9 : rgba(228, 230, 230, 0.865);
$color10 : rgb(254, 130, 41);

